<h1>Nova Receita</h1>
<%= render 'home/left_up' %>
<div class="form-group">
  <%= form_for(@recipe) do |f| %>
     <%= render partial: 'form', locals: {acao: "Editar", f: f} %>
  <%end%>
</div>
<%= render 'home/left_down' %>
