<h1><%= @cuisine_default.name%></h1>
<%= render 'home/left_up' %>
 <% @cuisine_default.recipes.each do |recipe| %>
  <div class="col-md-6">
    <%= render recipe%>
   </div>
<%end%><br>
<%= render 'home/left_down' %>
