<div class="row">
  <div class="col-md-3 col-xs-12">
    <aside>
    <h1>Cozinhas</h1>
      <% @cuisines.each do |cuisine| %>
        <p><%= link_to("#{cuisine.name}", cuisine) %>
      <% end %>

    <h1>Tipos</h1>
      <% @recipes_type.each do |recipe_type| %>
        <p><%= link_to("#{recipe_type.name}", recipe_type) %>
      <% end %>
    </aside>
</div>
<div class="col-md-9" col-xs-12>
  <div class="row">
    <main>
