<%= render 'left_up' %>
<% @recipes.each do |recipe| %>
    <div class="col-md-6">
      <%= render recipe %>
    </div>
  <%end%>
  <%= link_to("Ver todas receitas", recipes_olds_path)%>
<%= render 'left_down' %>
