<h1><%= @recipes_type_default.name%></h1>
<%= render 'home/left_up' %>
<% @recipes_type_default.recipes.each do |recipe|%>
  <div class="col-md-6">
    <%= render recipe %>
  </div>
<%end%>
<%= render 'home/left_down' %>

